body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background: url("background.jpg") center center fixed;
    background-size: cover;
  /* -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
:root{
    --bd-color: 2px solid rgb(95, 74, 74);
}
h2{ 
    color: white;
    font-weight: 300;
    background-color: rgb(28, 155, 28);
    margin: 0;
    padding: 8px 16px;
}
.container{
    width: 100%;
}
form{
    border: var(--bd-color) ;
    border-radius: 5px;
    width: 45%;
}
iframe{
    border:var(--bd-color) ;
}
.form-body{
    padding: 3%;
}
input,select,textarea{
    opacity: 0.8;
}
.label-control{
    font-size: 20px;
    cursor: text;
    display: inline-block;
    padding: 3px 6px;
    text-align: left;
    margin-left: 20px;
    width: 150px;
    vertical-align: top;
}
.input-control{
    width: 60%;
    padding: 8px; 
    margin-left: 5%;
    margin-bottom: 18px; 
    border: 1px solid lightgray;
    border-radius: 5px ;
    transition: box-shadow .3s;
}
.input-control:focus{
    box-shadow: 0px 0px 2px 2px rgb(136, 219, 136);
    outline: none;
}
.check-box{
    margin: -3% 0 30px 31%;
}
.image-control{
    padding: 8px; 
    margin-bottom: 18px; 
    border: 1px solid lightgray;
    border-radius: 5px ;
    margin-left: 35px;
    width: 100px;
    height: 100px;
}
.btn-submit{
    border: 1px solid rgb(101, 101, 235);    
    background-color: #414fdc; 
    margin: 5% 10% 2% 20%; 
    transition: background-color .3s;
   
}
.btn-submit:hover{
    background-color:rgb(45, 45, 182) ;
}
.btn-reset{
    border: 1px solid rgb(46, 146, 46);
    background-color: rgb(46, 146, 46); 
    transition: background-color .3s;
   
}
.btn-reset:hover{
    background-color: rgb(28, 121, 28);
}
.buttons{
    font-size: 18px;
    color: white;
    padding: 8px 16px; 
    border-radius: 5px;
    cursor: pointer;
}
.table-container{
    width: 45%;
    margin-top: 5%;
    margin-left:5%;   
    border:var(--bd-color) ; 
}
form,.table-container{
    float: left;    
}
.button-edit{
    font-size: 18px;
    color: white;
    border: 1px solid rgb(80, 80, 202);
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: rgb(80, 80, 202);
}
.button-delete{
    font-size: 18px;
    color: white;
    border: 1px solid rgb(46, 146, 46);
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: rgb(46, 146, 46);
}
.button-delete:hover{
    background-color: rgb(28, 121, 28);
}
.button-edit:hover{
    background-color:rgb(45, 45, 182) ;
}
.table-control {
    margin: 2%;  
    padding: 50px;  
    /* border: 1px solid lightgray; */
}  
.table-control td{
    padding: 15px;
}
.table-control tr{
     border-bottom: 1px solid lightgray;
}
.table-control th{
    padding: 10px;
}
.thead-control{
    color: rgb(255, 255, 255);
    background-color: rgb(185, 94, 94);
}
.thead-control td{
    font-size: 20px;
    padding: 15px;
    text-align: left;
}
fieldset{
    border: 1px solid gray;
}
/* input:valid{
    border: 1px solid blueviolet;
} */
input:invalid{
    border: 3px solid red;
}
